<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商品列表/详情页</title>
	<link rel="stylesheet" type="text/css" href="css/public.css"/>
	<link rel="stylesheet" type="text/css" href="css/tools.css"/>
	<link rel="stylesheet" type="text/css" href="css/header.css"/>
	<link rel="stylesheet" type="text/css" href="css/nav.css"/>
	<link rel="stylesheet" type="text/css" href="css/banner.css"/>
</head>
<body>
<!--header开始-->
<div class="header">
	<div class="margin">
		<div class="logo">
			<div class="logo1">
				<a href="http://www.bl.com">
					<img src="img/logon-logo.png"/>
				</a>
			</div>
			<div class="logo2">
				<img src="img/logon-apple.jpg"/>
			</div>
		</div>
		<div class="header-search">
			<div class="header-search-top">
				<div class="header-search-input">	
					<div class="inval">
						<input type="text" id="gray" placeholder="油" />
					</div>
				</div>
				<div class="header-search-btn">
					<input type="button"  id="btn" value="搜索" />
				</div>
			</div>
			<div class="header-search-font">
				<a href="#">干衣机</a>
				<span>|</span>
				<a href="#">surface go</a>
				<span>|</span>
				<a href="#">口红</a>
				<span>|</span>
				<a href="#">华为</a>
				<span>|</span>
				<a href="#">酸奶</a>
				<span>|</span>
				<a href="#">牙膏</a>
				<span>|</span>
				<a href="">mate 20</a>
				<span>|</span>
				<a href="">卫生巾</a>
				<span>|</span>
				<a href="">巧克力</a>
				<span>|</span>
			</div>
		</div>
	</div>
</div>
<!--header结束-->

<!--nav开始-->
<div class="nav">
	<div class="margin">
		<div class="nav-left">
			<div class="nav-leftfont">
				<i></i>
				<span>所有商品分类</span>
			</div>
		<div class="shownav">
				<div class="newbg"></div>
				<div class="int-nav">
					<ul>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
						<li>
							<i></i>
							<a href="#">百联进口 全球购</a>
						</li>
					</ul>
				</div>
				
				<div class="item-nav">
					<ul>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		
		
		
		<div class="nav-right">
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#">生活用品</a></li>
				<li><a href="#">24H百货</a></li>
				<li><a href="#">全球购</a></li>
				<li><a href="#">精品闪购</a></li>
				<li><a href="#">电器城</a></li>
				<li><a href="#">礼品卡</a></li>
			</ul>
		</div>
	</div>
</div>
<!--nav结束-->
<div class="margin">
	<div class="banner">
		<img src="img/listbanner.jpg"/>
		<div class="message-back"></div>
		<div class="message-box">
			<div class="title">安牧家进口牛肉</div>
			<div class="message">
				<span>满129减30</span>
			</div>
			<div class="text">2.19-3.4</div>
		</div>
		
		<div class="time-back">
			<div class="time-remind">
				仅剩时间：<span class="j-dd"></span>天
				<span class="j-hh"></span>小时
				<span class="j-mm"></span>分
				<span class="j-ss"></span>秒
			</div>
		</div>
	</div>	
</div>



<div class="main">
	<div class="margin">
		<div class="explosion">
			<ul class="commodity">
				<!--<li class="noleft" index="">
					<div class="border-frame">
						<a href="#"><img src="img/1.jpg"/></a>
						<div class="comment">
							<a href="#">安牧家 家庭装牛排 500g 谷饲喂养 澳洲进口</a>
							<div class="purchase"></div>
							<div class="price">￥108.0</div>
							<i class="arrow"></i>
							<button class="buy-button"></button>
						</div>
					</div>
				</li>-->
			</ul>
		</div>
	</div>
</div>


<div class="footer">
	
</div>
</body>
<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="js/data.js" type="text/javascript" charset="utf-8"></script>-->
<script src="js/ajax.3.0.js" type="text/javascript" charset="utf-8"></script>
<script src="js/cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="js/banner.js" type="text/javascript" charset="utf-8"></script>
</html>

